@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

:root{
    --primary-50: 247, 247, 247;
    --primary-100: 237, 237, 237;
    --primary-200: 223, 223, 223;
    --primary-300: 200, 200, 200;
    --primary-400: 173, 173, 173;
    --primary-500: 156, 156, 156;
    --primary-600: 136, 136, 136;
    --primary-700: 123, 123, 123;
    --primary-800: 103, 103, 103;
    --primary-900: 84, 84, 84;
    --primary-950: 54, 54, 54;    
}

:root{
    --secondary-50: 255, 254, 231;
    --secondary-100: 255, 253, 193;
    --secondary-200: 255, 246, 134;
    --secondary-300: 255, 233, 65;
    --secondary-400: 255, 216, 13;
    --secondary-500: 255, 200, 0;
    --secondary-600: 209, 146, 0;
    --secondary-700: 166, 104, 2;
    --secondary-800: 137, 81, 10;
    --secondary-900: 116, 66, 15;
    --secondary-950: 68, 34, 4;    
}
:root{
    --gradient-color-div-1: rgba(var(--primary-200), 0.2);
    --gradient-color-div-2: rgba(var(--primary-100), 0.5);
}
:root{
    --principal-font: 'Oswald', sans-serif;
}

:root{
    --shadow-1:black 5px 5px 15px -5px;
    --shadow-both-sides: black 5px 5px 15px -5px, black -5px -5px 15px -5px;
}


body{
    background: black;
    font-family: var(--principal-font);
}

#canvas-1{
    background: black;
    position: fixed;
    padding: 0;
    margin: 0;
    transition: all 500ms ease-out;
}

.container{
    width: 100%;
    background: transparent;
    z-index: 1;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.first-section{
    width: 100%;
    height: 100vh;
    background: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    flex-direction: column;
}

.presentation{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll-down.hide{
    opacity: 0;
    animation: none;
    transition: opacity 500ms ease-out;
}

.card{
    width: 90%;
    height: 80%;
    background: linear-gradient(to bottom right, var(--gradient-color-div-1), var(--gradient-color-div-2));
    border-radius: 10px;
    backdrop-filter: blur(5px); 
    padding: 3%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}



.scroll-down{
    height: 10%;
    width: 100px;
    opacity: 1;
    transition: opacity 500ms ease-out;
    animation: jump 2.5s infinite;
}

@keyframes jump {
    0% {transform: translateY(0px);}
    50% {transform: translateY(10px);}
    100% {transform: translateY(0px);}
}

.scroll-down img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.text-container h1{
    color: rgba(var(--primary-50));
    font-size: 15vw;
    animation: show 2s forwards;
    margin: 0;
    padding: 0;
}

.text-container h2{
    border-right: 2px solid transparent;
    color: rgba(var(--secondary-100));
    font-size: 5vw;
    white-space: nowrap;
    overflow: hidden;
    width: 0%;
    animation: typing 2s steps(50, end) forwards, blink-caret 1.3s infinite;
    animation-delay: 1s;
}

.text-container p{
    color: rgba(var(--primary-100));
    margin-top: 2%;
    font-size: 2.5vh;
    opacity: 0;
    animation: show 2s forwards;
    animation-delay: 1.5s;
}

.text-container{
    display: inline-block;
    padding: 0;
    margin: 0;
}

.text-container.description{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}   

.links{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    opacity: 0;
    animation: show 2s forwards;
    animation-delay: 2s;
    padding-bottom: 2%;
}

.links a{
    text-decoration: none;
    font-size: 1.5rem;
    margin-right: 2%;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 5vh;
    width: 5vh;
}

.links a.square{
    border-radius: 10px;
}
.links a.circle{
    border-radius: 50%;
}

.links a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.links a:hover{
    box-shadow: 0px 0px 10px 0px rgba(var(--secondary-500));
    transition: background 500ms ease-out;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    0%, 100% { border-color: transparent }
    50% { border-color: rgba(var(--secondary-600)) }
}

@keyframes show {
    from {opacity: 0;}
    to {opacity: 1;}
}

.second-section{
    width: 100%;
    height: 100vh;
    background: rgba(var(--primary-300));
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card.transparent{
    background: transparent;
    display: flex;
    justify-content: flex-start;
    padding: 0;
    flex-direction: column;
    height: 70%;
}

.card.half{
    width: 100%;
    height: 50%;
    box-shadow: var(--shadow-1);
    overflow: visible;
}

.card.half h1{
    font-size: 5vh;
    color: rgba(var(--primary-950));
    margin: 0;
    padding: 0;
}

.card.half ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.card.half ul li{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    width: 30%;
    padding-left: 2%;
}

.card.half ul li.clicked{
    color: rgba(var(--secondary-400));
    background-color: rgba(var(--primary-500));
    width: 100%;
    transition: transform 500ms ease-out;
    cursor: pointer;
    transition: all 500ms ease-out;
    box-shadow: var(--shadow-1);
    z-index: 1;
}

.select-container{
    margin-top: 10%;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 3%;
    gap: 20px;
    flex-direction: row;
    align-items: flex-start;
}

.knowledge-item{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    margin: 0;
    opacity: 0;
    transition: all 500ms ease-out;
    border-radius: 10px;
    height: 30%;
    width: 30%;
}

.knowledge-item.show{
    opacity: 1;
}

.knowledge-img{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}

.knowledge-item:hover{
    background-color: rgba(var(--primary-200) , 0.5);
    box-shadow: var(--shadow-1);
    transition: all 500ms ease-out;
}

.knowledge-img img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.knowledge-item h2{
    color: rgba(var(--primary-950));
    font-size: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}

/* Third section */

.third-section{
    width: 100%;
    padding-top: 50vh;
    height: 500vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.card.full-half{
    width: 50%;
    height: 100%;
}

.first-third-sub-section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 500ms ease-out;
}

.card.projects{
    background: linear-gradient(to bottom right, var(--gradient-color-div-1), var(--gradient-color-div-2));
    border-radius: 10px;
    backdrop-filter: blur(5px); 
    padding: 3%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 80%;
}

.card.projects h1{
    font-size: 5vh;
    background-color: transparent;
    color: rgba(var(--primary-50));
    letter-spacing: 5px;
    width: 100%;
}

.project-container{
    width: 100%;
    height: 95%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 2%;
    flex-direction: column;
    align-items: flex-start;
}

.tabs{
    width: 100%;
    height: 13%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    background-color: rgba(var(--primary-100), 0.5);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top: 5px solid rgba(var(--primary-600));

}

.tabs li{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: rgba(var(--primary-950));
    font-size: 2vh;
    cursor: pointer;
    transition: all 500ms ease-out;
    text-align: center;
    padding: 2%;
}

.tabs li.left{
    border-top-left-radius: 10px;
}
.tabs li.right{
    border-top-right-radius: 10px;
}

.tabs li:hover{
    background-color: rgba(var(--primary-100), 0.4);
    transition: all 500ms ease-out;
}

.tabs li.clicked{
    background-color: rgba(var(--primary-100));
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: var(--shadow-both-sides);
}

.project{
    background-color: rgba(var(--primary-100));
    height: 75%;
    padding: 3%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.project-title{
    opacity: 0;
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    animation: show .5s forwards;
}
.project-title .project-img{
    height: 80%;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    overflow: hidden;
}

.project-title .project-img img{
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.project-title h2{
    color: rgba(var(--primary-950));
    font-size: 2.5vh;
    margin: 0;
    padding: 0;
    width: 50%;
}

.project-description{
    margin-top: 3%;
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 2%;
    gap: 5%;
    opacity: 0;
    animation: show 1s forwards;
}

@media screen and (min-width: 768px) {
    .card {
        width: 60%;
        height: 75%;
    
    }
    .text-container h1{
        font-size: 6vw;
        background-color: transparent;
        color: white;
        letter-spacing: 5px;
        border-right: 5px solid transparent;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        transition : border 500ms ease-out;
        animation: typing 1s steps(50, end), blink-caret 1.3s infinite;
    }
    

    .text-container h2{
        font-size: 2vw;
        background-color: transparent;
        color: rgba(var(--secondary-100));
        letter-spacing: 5px;
        opacity: 0;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        animation: show 2s forwards;
        animation-delay: 1s;
    }

    .text-container p{
        font-size: 1.5vw;
    }

    .scroll-down img{
        content: url('./resources/imgs/scrolldownMouse.png');
    }

    .links{
        justify-content: flex-start;
    }

    .card.half{
        justify-content: flex-start;
        gap: 13%;
        width: 50%;
        height: 90%;
        position: relative;
        background-color: rgba(var(--primary-100));
    }

    .card.half ul li{
        height: 80px;
    }

    .card.transparent{
        flex-direction: row;
    }
    .select-container{
        margin-top: 0;
        height: 80%;
        width: 50%;
        flex-direction: column;
    }
    .card.half ul li:hover{
        color: rgba(var(--secondary-400));
        background-color: rgba(var(--primary-600));
        width: 100%;
        transition: transform 500ms ease-out;
        cursor: pointer;
        transition: all 500ms ease-out;
    }

}

